<h2>Welcome to your Dream Journal</h2>

<ul class = "spacing">
  <li><a href="/dreams">View your dream list</a></li>
  <li><a href="/categories">View your dreams by category</a></li>
  <li><a href="/dreams/new">Add a new dream entry</a></li>
</ul><br>

<a href="/logout">Log out</a>