<h2>Sign Up</h2>
<form action="/signup" method="POST">
  <label>Name:</label>
  <input type="text" name="username" id="username"><br><br>
  <label>Email:</label>
  <input type="text" name="email" id="email"><br><br>
  <label>Password:</label>
  <input type="password" name="password" id="password"><br><br>
  <input type="submit" value="Sign Up">
</form>