<p>Welcome to your Dream Journal</p>

<ul>
  <li><a href="/dreams">View your dreams list</a></li>
  <li><a href="/categories">View your dreams by category</a></li>
  <li><a href="/dreams/new">Add a new dream entry</a></li>
</ul>

<p><a href="/logout">Log out</a></p>