<h2>Category List</h2>
<% if !@categories.empty? %>
  <p>Select the category name to see all dreams in that category:</p>
<% end %>

<ul class="spacing">
  <% @categories.each do |category| %>
    <li><a href="/categories/<%= category.id %>"><%= category.name %></a></li>
  <% end %>
</ul><br>

<% if @categories.empty? %>
  <p>You currently do not have any categories.</p>
<% end %><br>

<a href="/home">Home</a>       
<a href="/logout">Log out</a>