<h2>Category: <%= @category.name %></h2>
<h4>Dreams:</h4>
<ul class="spacing">
  <% @dreams.each do |dream| %>
    <li><a href="/dreams/<%= dream.id %>"><%= dream.title %></a> - <%= dream.date %></li>
  <% end %>
</ul><br><br>

<a href="/categories">Category List</a> 
<a href="/welcome">Home</a>       
<a href="/logout">Log out</a>