<h1>Welcome to Dream Journal!</h1>
<h2>Record all your dreams in one place and categorize them by theme.</h2>
# <h3> Please <a href="/signup">Sign Up</a> or <a href="/login">Log In</a> to continue.</h3>