<div class="flash center">
  <% if flash.has?(:message) %>
    <%= flash[:message] %>
  <% end %>
<div>
  
  
<div class="center">
  
<h1>Dream Journal</h1>
<h3>All your dreams in one place.</h3>
<h4><a href="/signup">Sign up</a> or <a href="/login">Log in</a></h4><br>
<img src="https://images.unsplash.com/photo-1534447677768-be436bb09401?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1371&q=80" alt="sailboat in the clouds">

</div>